.CardUserContainer{
    border: 2px solid #cfc5a5;
    border-radius: 3px;
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:#cfc5a5 ;
}
.usercontainer{
    border: 1px solid #cfc5a5;
    border-radius: 3px;
    margin: 10px;
    width: 30%;
    background-color: white;
}
.profilContainer{
    border: 1px solid #cfc5a5;
    border-radius: 3px;
    margin: 10px;
    width: 50%;
    background-color: white;
}