.CardComment{
    border: 1px solid #e4d6b5;
    border-radius: 3px;
    width: 94%;
    margin: 10px 16px;
}
.CardCommentHeader{
    background-color: #e4d6b5;
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    padding: 0px 4px;
}
.CardCommentContent{
    min-height: 80px;
    
}
.CardCommentFooter{
    background-color: #e4d6b5;
    display: flex;
    justify-content: space-between;
    height: 20px;
}