.CardPost{
    border: 1px solid #cfc5a5;
    border-radius: 3px;
    margin:20px 40px;
}
.CardPostHeader{
    background-color:#cfc5a5;
    display: flex;
    justify-content: space-between;
    height: 36px;
}
.CardPostContent{
    min-height: 120px;
}
.CardPostFooter{
    background-color:#cfc5a5;
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.btnCommenter{
    background-color: #faf3e0;
    border-radius: 5px;
    border: 1px solid #cfc5a5;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    color:inherit;
    padding: 0px 4px;
    
    
}
.btnCommenter:hover{
    background-color: white;
}