.navbarBurger{
   width: 40px;
   height: 40px;
   background: transparent;
   border: none;
   color: inherit;
   display: none;
}
@media screen and (max-width:767px){
    .navbarBurger{
       display: block;
       position: fixed;
       top:.1rem;
       right: 1rem;
    }
    .showNav{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:fixed;
        right:0;
        bottom:0;
        width:100vh;
        padding:2rem;
        background-color: #cfc5a5;
        visibility: visible ;
    }

    .navbarBurger:hover{
       cursor:pointer;
    }
    .burgerBar,
    .burgerBar::before,
    .burgerBar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: black;
    }
    .burgerBar::before,
    .burgerBar::after{
        content: "";
        position: absolute;
        left:O;
    }
    .burgerBar::before{
        transform: translateY(-12px)
    }
    .burgerBar::after{
        transform: translateY(12px)
    }
}